---
import Layout from "@layouts/Layout.astro";
import RecruitSection from "@components/RecruitSection.svelte";
import ProfessionalismSection from "@components/ProfessionalismSection.svelte";
---

<Layout
  title="採用情報 | JOYZO"
  description="お客様と共に『価値』を創るプロフェッショナルへ。仕事を楽しむ姿でチームを活気づけ、社会を変える。そんな働き方をしてみませんか？"
>
  <main>
    <RecruitSection client:load />
    <ProfessionalismSection client:load />
  </main>
</Layout>
