---
import Layout from "@layouts/Layout.astro";
import CareersSection from "@components/CareersSection.svelte";
---

<Layout title="採用情報 | JOYZO" description="JOYZOの採用情報をご覧いただけます。私たちと一緒に、お客様の世界をより楽しくしませんか？">
  <main>
    <CareersSection />
  </main>
</Layout>
