---
import Layout from "@layouts/Layout.astro";
import RecruitSection from "@components/RecruitSection.svelte";
---

<Layout
  title="採用情報 | JOYZO"
  description="あらゆる人がITの恩恵を受け、楽しく働ける社会をつくるために。JOYZOと一緒に働きませんか？"
>
  <main>
    <RecruitSection client:load />
  </main>
</Layout>
