---
---

<header
  class="header-theme fixed inset-x-0 top-0 z-50 flex h-16 md:h-20 items-center justify-between border-b px-4 sm:px-6 md:px-8"
  id="header"
>
  <!-- ロゴ -->
  <a
    href="/"
    class="flex items-center transition-opacity duration-300 hover:opacity-70"
  >
    <p class="tracking-tighter font-heading text-2xl font-bold text-white">
      JOYZO
    </p>
  </a>

  <!-- ナビゲーション -->
  <nav class="hidden md:block">
    <ul class="flex items-center space-x-12">
      <li>
        <a
          href="/aboutus"
          class="font-heading text-lg font-medium text-white transition-colors duration-300 hover:text-gray-300"
        >
          ABOUT
        </a>
      </li>
      <li>
        <a
          href="/company"
          class="font-heading text-lg font-medium text-white transition-colors duration-300 hover:text-gray-300"
        >
          COMPANY
        </a>
      </li>
      <li>
        <a
          href="https://service.joyzo.co.jp"
          target="_blank"
          rel="noopener noreferrer"
          class="font-heading text-lg font-medium text-white transition-colors duration-300 hover:text-gray-300"
        >
          サービス
        </a>
      </li>
      <li>
        <a
          href="/recruit"
          class="font-heading text-lg font-medium text-white transition-colors duration-300 hover:text-gray-300"
        >
          RECRUIT
        </a>
      </li>
      <li>
        <a
          href="/contact"
          class="font-heading text-lg font-medium text-white transition-colors duration-300 hover:text-gray-300"
        >
          CONTACT
        </a>
      </li>
    </ul>
  </nav>
</header>
