---
// import { Picture } from "@astrojs/image/components"; // 非推奨のためコメントアウト

import Layout from "./Layout.astro";

export interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;

  mainLabel: string;
  subLabel: string;
}

const { mainLabel, subLabel, ...props } = Astro.props;

// 画像ファイル名を生成（スペースを削除して小文字に）
const imageFileName = mainLabel.toLowerCase().replace(/\s+/g, "");

// 画像パスを生成
const imagePath = `/images/${imageFileName}.jpg`;
---

<Layout {...props}>
  <div class="relative min-h-[50vh] mt-16 md:mt-20">
    <img
      src={imagePath}
      loading="eager"
      width={1440}
      height={320}
      alt=""
      class="absolute inset-0 h-full w-full object-cover"
      style="object-position: 60% 55%;"
    />
    <div
      class="relative flex h-full w-full items-center justify-center bg-black/20"
    >
      <h1 class="flex flex-col justify-center text-center text-white">
        <span class="font-english text-[2rem] font-medium text-white"
          >{mainLabel}</span
        >
        <span class="font-sans text-base font-medium text-white"
          >{subLabel}</span
        >
      </h1>
    </div>
  </div>
  <div class="mx-auto py-16 sm:py-24 lg:py-32 max-w-none sm:max-w-7xl px-4">
    <slot />
  </div>
</Layout>
