---
import Layout from "@layouts/Layout.astro";
import AboutSection from "@components/AboutSection.svelte";
---

<Layout title="ジョイゾーとは | JOYZO" description="ENJOY YOUR WORLD. ジョイゾーは、DXと働き方の変化を通じて、お客様の世界をより楽しくすることを目指す企業です。">
  <main>
    <AboutSection />
  </main>
</Layout>
